table {
  width: 100%;
}

.page {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

th {
   color: #180c65;
 }

.create {
  background-color: #180c65;
  color: white;
}

.reset {
  background-color: #efebeb;
}

.button-format {
  margin-left: 10px;
  width: 150px;
  float: right;
}

mat-error {
  color: red;
}

.truncated-cell {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.space-between-fields {
  margin-bottom: 15px;
}

.filter {
  width: 350px;
  margin-bottom: 0;
}

.main-deleteButton {
  margin-right: -30px;
  transform: scale(1.3);
}

.rightSide {
  margin-bottom: 70px;
}

.favourite-book-delete {
  position: sticky;
  top: 0;
  transform: scale(0.9);
}
