a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.navigation\.items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 1px;
  background-color: #8ca8e8;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

h2{
  color: #333232;
}

mat-icon{
  color: #333232;
}
