.main-card{
  color: black;
  background-color: #666666;
  height: 1100px;
}

.headline1 {
  margin-top: 100px;
  font-size: 100px;
  position: absolute;
  top: 18%;
  left: 40%;
}

.headline2 {
  font-size: 100px;
  position: absolute;
  top: 28%;
  left: 40%;
}
.headline3 {
  font-size: 100px;
  position: absolute;
  top: 38%;
  left: 40%;
}
.headline4 {
  font-size: 100px;
  position: absolute;
  top: 48%;
  left: 40%;
}
.headline5 {
  font-size: 100px;
  position: absolute;
  top: 58%;
  left: 40%;
}

.headline6 {
  font-size: 100px;
  position: absolute;
  top: 68%;
  left: 40%;
}

.headline7 {
  font-size: 100px;
  position: absolute;
  top: 78%;
  left: 40%;
}
