<div class="page row">
  <h1>Reading Bible</h1>

  <div class="col-12 col-lg-8 mb-5">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" >

        <!-- Text Column -->
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef> Read Text</th>
          <td mat-cell *matCellDef="let element" class="truncated-cell"> {{element.text}} </td>
        </ng-container>

        <!-- Lieblingsvers Column -->
        <ng-container matColumnDef="lieblingsvers">
          <th mat-header-cell *matHeaderCellDef> Favourite Verse</th>
          <td mat-cell *matCellDef="let element"> {{element.lieblingsvers}} </td>
        </ng-container>

        <!-- Lieblingsvers Column -->
        <ng-container matColumnDef="lieblingsversText">
          <th mat-header-cell *matHeaderCellDef> Favourite Verse</th>
          <td mat-cell *matCellDef="let element"> {{element.lieblingsvers}} </td>
        </ng-container>

        <!-- Label Column -->
        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef> Label</th>
          <td mat-cell *matCellDef="let element"> {{element.label}} </td>
        </ng-container>

        <!-- Leser Column -->
        <ng-container matColumnDef="leser">
          <th mat-header-cell *matHeaderCellDef> Reader</th>
          <td mat-cell *matCellDef="let element"> {{element.leser}} </td>
        </ng-container>

        <!-- Kommentar Column -->
        <ng-container matColumnDef="kommentar">
          <th mat-header-cell *matHeaderCellDef> Comment</th>
          <td mat-cell *matCellDef="let element"> {{element.kommentar}} </td>
        </ng-container>

        <!-- Delete -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="deleteButton" (click)="deleteBibellese(element)" id="remove" *ngIf="userAvailable">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSize]=10
        [hidePageSize]="true"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>

  <div class="col-12 col-lg-4" *ngIf="userAvailable">
    <div class="space-between-fields">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Create Read
            </mat-panel-title>
            <mat-panel-description>
              Type in your reading information
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form [formGroup]="form">

            <div class="create-user-body">
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Favourite verse</mat-label>
                  <input matInput formControlName="lieblingsvers">
                  <button *ngIf="form.controls['lieblingsvers'].value" matSuffix mat-icon-button aria-label="Clear"
                          (click)="form.controls['lieblingsvers'].reset()">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="form.controls['lieblingsvers'].hasError('required')">
                    Favourite verse is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Read text</mat-label>
                  <input matInput formControlName="text">
                  <button *ngIf="form.controls['text'].value" matSuffix mat-icon-button aria-label="Clear"
                          (click)="form.controls['text'].reset()">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="form.controls['text'].hasError('required')">
                    Read text is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


          </form>
          <button mat-raised-button class="create button-format" (click)="addBibellese()" [disabled]="!form.valid">Add Read
          </button>
          <button mat-raised-button class="reset button-format" (click)="form.reset()">Reset</button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>
</div>
