.cardFormat {
  background-color: #f8f6f5;
  margin-bottom: 20px;
}

mat-icon {
  color: #180c65;
}

mat-card-title {
  color: #180c65;
  margin-bottom: 20px;
}

.main-card {
  margin-right: 40px;
  padding: 30px;
  width: 350px;
}

.button-format {
  margin-left: 10px;
  width: 100px;
  float: left;
}

.calculate {
  background-color: #180c65;
  color: white;
  margin-left: 19px;
}

.reset {
  background-color: #efebeb;
}

.calculate-bmi-body {
  margin-left: 20px;
  margin-right: 20px;
}

mat-error {
  color: red;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.marginTop-40{
  margin-top: 40px;
}

.users-bmi {
  background-color: #180c65;
  color: white;
}
