<mat-card class="cardFormat, mi-align-horizontal-left">
  <mat-card-title-group>
    <mat-card-title>BMI-Rechner</mat-card-title>
    <mat-card-subtitle>Extra large</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    {{bmiDescription}}
  </mat-card-content>
</mat-card>
<mat-card class="cardFormat, mi-align-horizontal-center">
  <mat-card-title-group>
    <mat-card-title>User</mat-card-title>
    <mat-card-subtitle>Extra large</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    {{userDescription}}
  </mat-card-content>
</mat-card>
<mat-card class="cardFormat, mi-align-horizontal-right">
  <mat-card-title-group>
    <mat-card-title>Logging</mat-card-title>
    <mat-card-subtitle>Extra large</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    {{loggingDescription}}
  </mat-card-content>
</mat-card>
