<div class="container">
  <div class="row">
    <div class="col">1</div>
    <div class="col">2</div>
    <div class="col">3</div>
  </div>
</div>

  <mat-card class="col">
    <mat-card-title-group>
      <mat-card-title>BMI-Rechner</mat-card-title>
      <mat-card-subtitle>Extra large</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{bmiDescription}}
    </mat-card-content>
  </mat-card>
  <mat-card class="col">
    <mat-card-title-group>
      <mat-card-title>User</mat-card-title>
      <mat-card-subtitle>Extra large</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{userDescription}}
    </mat-card-content>
  </mat-card>
  <mat-card class="col">
    <mat-card-title-group>
      <mat-card-title>Logging</mat-card-title>
      <mat-card-subtitle>Extra large</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{loggingDescription}}
    </mat-card-content>
  </mat-card>



