.main-card {
  height: 2000px;
  background: #666666;
}

.Drones-text {
  font-family: historical-forms;
  font-size: 100px;
  position: absolute;
  top: 5%;
  left: 40%;
}

.mini {
  color: white;
  background-color: black;
  height: 400px;
}
