<mat-card class="main-card">
  <h1 class="Drones-text" align="center">Drones</h1>
   <button class="mini col-6"><mat-icon></mat-icon><img src="https://stormsend1.djicdn.com/tpc/uploads/spu/hover/66f928f045b3a82f554d60b3447b0caf@origin.jpg"></button>
   <button class="mini col-6"><mat-icon></mat-icon></button>
   <button class="mini col-6"><mat-icon></mat-icon></button>
   <button class="mini col-6"><mat-icon></mat-icon></button>
   <button class="mini col-6"><mat-icon></mat-icon></button>
   <button class="mini col-6"><mat-icon></mat-icon></button>
   <button class="mini col-6"><mat-icon></mat-icon></button>
   <button class="mini col-6"><mat-icon></mat-icon></button>
</mat-card>








(click)="mini()"
