h1 {
  text-align: center;
}

.lite-version-button {
  background-color: #efebeb;
}

.apply-button {
  background-color: #180c65;
  color: white;
}

mat-form-field {
  width: 100%;
}

p {
  color: red
}
