<div class="container marginTop-40">
  <div class="row">
      <mat-card class="col colorCard" >
        <a routerLink="/bmi">
          <mat-card-title-group>
            <mat-card-title>BMI-Rechner</mat-card-title><mat-icon class="marginRight-15">slow_motion_video</mat-icon>
            <mat-card-subtitle>BMI-Interaktionen</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content>
            {{bmiDescription}}
          </mat-card-content>
        </a>
      </mat-card>

      <mat-card class="col colorCard">
        <a routerLink="/user">
          <mat-card-title-group>
            <mat-card-title>User</mat-card-title><mat-icon class="marginRight-15">supervised_user_circle</mat-icon>
            <mat-card-subtitle>User-Interaktionen</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content>
            {{userDescription}}
          </mat-card-content>
        </a>
      </mat-card>

      <mat-card class="col colorCard">
        <a routerLink="/logging">
          <mat-card-title-group>
            <mat-card-title>Logging</mat-card-title><mat-icon class="marginRight-15">format_list_bulleted</mat-icon>
            <mat-card-subtitle>Logging-Ausgaben</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content>
            {{loggingDescription}}
          </mat-card-content>
        </a>
      </mat-card>
  </div>
</div>

