.cardFormat {
  background-color: #efebeb;
  margin: 15px;
}

mat-card {
  width: 1000px;
  margin-bottom: 50px;
}

mat-icon {
  color: #180c65;
}

.marginRight-15 {
  margin-right: 15px;
}

mat-card-title {
  color: #180c65;
}

mat-card-content {
  color: #180c65;
}

a {
  text-decoration: none;
}

.marginTop-40 {
  margin-top: 40px;
}

.zoom {
  transition: transform .5s;
}

.zoom:hover {
  -ms-transform: scale(2.0); /* IE 9 */
  -webkit-transform: scale(0.5); /* Safari 3-8 */
  transform: scale(1.05);
}
