a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

mat-toolbar {
  border-radius: 1px;
  background-color: #180c65;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0;
  }
}

h2 {
  color: white;
}

mat-icon {
  color: white;
}

.marginLeft-20 {
  margin-left: 18px;
}

.profile {
  position: absolute;
  right: 20px;
}


