<mat-nav-list>
  <br>
  <a mat-list-item routerLink="/bmi" (click)="onSidenavClose()">
    <mat-icon>slow_motion_video</mat-icon>
    <span class="nav-caption">BMI-Calculator</span>
  </a>
  <a mat-list-item routerLink="/user" (click)="onSidenavClose()" *ngIf="userAvailable">
    <mat-icon>supervised_user_circle</mat-icon>
    <span class="nav-caption">User</span>
  </a>
  <a mat-list-item routerLink="/logging" (click)="onSidenavClose()" *ngIf="userAvailable">
    <mat-icon>format_list_bulleted</mat-icon>
    <span class="nav-caption">Logging</span>
  </a>
  <a mat-list-item routerLink="/book" (click)="onSidenavClose()">
    <mat-icon>book</mat-icon>
    <span class="nav-caption">Books</span>
  </a>
</mat-nav-list>
