<mat-card class="main-card">
  <h1 class="Drones-text">Drones</h1>
  <a routerLink="/djiMini"><button  class="mini col-12"><img id="imageElement" src="" alt="image"></button></a>
  <a routerLink="/djiMavic"><button class="mavic col-12"><img id="imageElement1" src="" alt="image1"></button></a>
  <a routerLink="/DjiAir"><button class="air col-12"><img id="imageElement2" src="" alt="image2"></button></a>
  <a routerLink="/DjiAvata"> <button class="fpv col-12"><img id="imageElement3" src="" alt="image3"></button></a>
  <a routerLink="/DjiPhantom"><button class="phantom col-12"><img id="imageElement4" src="" alt="image4"></button></a>
  <a routerLink="/DjiInspire"><button class="inspire col-4"><img id="imageElement5" src="" alt="image5"></button></a>
  <a routerLink="/DjiThermal"><button class="thermal col-12"><img id="imageElement6" src="" alt="image6"></button></a>
</mat-card>
