<div class="col-12" *ngIf="userAvailable">
  <div class="space-between-fields">
    <label class="close-button" (click)="cancel()"><mat-icon>close</mat-icon></label>
    <h2>Update reading information</h2>
    <form [formGroup]="form">

      <div class="create-user-body">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Textarea in the bible</mat-label>
            <input matInput formControlName="bibelabschnitt">
            <button *ngIf="form.controls['bibelabschnitt'].value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="form.controls['bibelabschnitt'].reset()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.controls['bibelabschnitt'].hasError('required')">
              Textarea in the bible is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button (click)="featureManager.addItemToList(form, 'lieblingsverse', lieblingsverse)">
            <mat-icon>add</mat-icon>
          </button>
          <mat-chip-list *ngFor="let vers of lieblingsverse" class="mat-standard-chip">
            <mat-chip>
              {{vers}}
              <button mat-icon-button class="deleteButton"
                      (click)="featureManager.deleteItemFromList(vers, lieblingsverse)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
          <mat-form-field appearance="fill">
            <mat-label>Favourite verse</mat-label>
            <input matInput formControlName="lieblingsverse">
            <button *ngIf="form.controls['lieblingsverse'].value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="form.controls['lieblingsverse'].reset()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button (click)="featureManager.addItemToList(form, 'versText', lieblingsversTexte)">
            <mat-icon>add</mat-icon>
          </button>
          <mat-list *ngFor="let text of lieblingsversTexte">
            <mat-card>
              <mat-list-item>
                {{text}}
                <button mat-icon-button class="deleteButton"
                        (click)="featureManager.deleteItemFromList(text, lieblingsversTexte)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-card>
          </mat-list>
          <mat-form-field appearance="fill">
            <mat-label>Text of favourite verse</mat-label>
            <input matInput formControlName="versText">
            <button *ngIf="form.controls['versText'].value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="form.controls['versText'].reset()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button (click)="featureManager.addItemToList(form, 'labels', labelList)">
            <mat-icon>add</mat-icon>
          </button>
          <mat-chip-list class="mat-standard-chip" *ngFor="let label of labelList">
            <mat-chip>
              {{label}}
              <button mat-icon-button class="deleteButton"
                      (click)="featureManager.deleteItemFromList(label, labelList)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-chip>

          </mat-chip-list>
          <mat-form-field appearance="fill">
            <mat-label>Labels</mat-label>
            <input matInput formControlName="labels">
            <button *ngIf="form.controls['labels'].value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="form.controls['labels'].reset()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Comment</mat-label>
            <input matInput formControlName="kommentar">
            <button *ngIf="form.controls['kommentar'].value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="form.controls['kommentar'].reset()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.controls['kommentar'].hasError('required')">
              Comment is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Reader</mat-label>
            <input matInput formControlName="leser">
            <button *ngIf="form.controls['leser'].value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="form.controls['leser'].reset()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.controls['leser'].hasError('required')">
              Reader is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
    <button mat-raised-button class="create button-format" (click)="updateBibellese()" [disabled]="!form.valid">Update
      Read
    </button>
    <button mat-raised-button class="reset button-format" (click)="resetForm()">Reset</button>
  </div>
</div>
