<h1>BMI-Calculator</h1>
<div class="container ">
  <form [formGroup]="form">
    <mat-card class="main-card">

      <mat-card class="col cardFormat">
        <mat-card-title-group>
          <mat-card-title>Birthdate</mat-card-title>
          <mat-icon>calendar_today</mat-icon>
        </mat-card-title-group>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Birthdate</mat-label>
            <input matInput>
            <mat-error *ngIf="form.controls['birthdate'].hasError('required')">
              Birthdate is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card class="col cardFormat">
        <mat-card-title-group>
          <mat-card-title>Weight</mat-card-title>
          <mat-icon>slow_motion_video</mat-icon>
        </mat-card-title-group>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Weight</mat-label>
            <input matInput>
            <mat-error *ngIf="form.controls['weight'].hasError('required')">
              Weight is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card class="col cardFormat">
        <mat-card-title-group>
          <mat-card-title>Height</mat-card-title>
          <mat-icon>straighten</mat-icon>
        </mat-card-title-group>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Height</mat-label>
            <input matInput>
            <mat-error *ngIf="form.controls['height'].hasError('required')">
              Height is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </mat-card-content>
      </mat-card>


      <button mat-raised-button class="calculate button-format" (click)="calculateBmi()">Create</button>
      <button mat-raised-button class="reset button-format" (click)="form.reset()">Reset</button>
    </mat-card>
  </form>
</div>
