<h1>BMI-Calculator</h1>
<div class="container ">
  <mat-card class="main-card">
    <mat-card class="col cardFormat">
      <mat-card-title-group>
        <mat-card-title>Weight</mat-card-title>
        <mat-icon>slow_motion_video</mat-icon>
      </mat-card-title-group>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Weight</mat-label>
          <input matInput>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card class="col cardFormat">
      <mat-card-title-group>
        <mat-card-title>Height</mat-card-title>
        <mat-icon>straighten</mat-icon>
      </mat-card-title-group>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Height</mat-label>
          <input matInput>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </mat-card>

</div>
